body {
  font-family: "Roboto", "Poppins", Arial, sans-serif;
}

.logo {
  width: 75px;
  height: 75px;
}

.navbar-collapse {
  width: 50%;
}

.navbar-nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: auto;
}

.nav-link {
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero-video {
  width: 100%;
  z-index: 0;
}
